In [1]:
# Imports
import pandas as pd
import numpy as np
import re
from utils import clean_data

pd.set_option('display.max_columns', None)

In [2]:
# Data product_info
product_info = pd.read_csv('../data/product_info.csv')
product_info.head(2)

,product_id,product_name,brand_id,brand_name,loves_count,rating,reviews,size,variation_type,variation_value,variation_desc,ingredients,price_usd,value_price_usd,sale_price_usd,limited_edition,new,online_only,out_of_stock,sephora_exclusive,highlights,primary_category,secondary_category,tertiary_category,child_count,child_max_price,child_min_price
0,P473671,Fragrance Discovery Set,6342,19-69,6320,3.6364,11.0,NaN,NaN,NaN,NaN,"['Capri Eau de Parfum:', 'Alcohol Denat. (SD A...",35.0,NaN,NaN,0,0,1,0,0,"['Unisex/ Genderless Scent', 'Warm &Spicy Scen...",Fragrance,Value & Gift Sets,Perfume Gift Sets,0,NaN,NaN
1,P473668,La Habana Eau de Parfum,6342,19-69,3827,4.1538,13.0,3.4 oz/ 100 mL,Size + Concentration + Formulation,3.4 oz/ 100 mL,NaN,"['Alcohol Denat. (SD Alcohol 39C), Parfum (Fra...",195.0,NaN,NaN,0,0,1,0,0,"['Unisex/ Genderless Scent', 'Layerable Scent'...",Fragrance,Women,Perfume,2,85.0,30.0

In [3]:
# Data reviews -- merge together datasets into a single one
reviews1 = pd.read_csv('../data/reviews_0-250.csv', dtype={'author_id':'str'})
reviews2 = pd.read_csv('../data//reviews_250-500.csv')
reviews3 = pd.read_csv('../data/reviews_500-750.csv')
reviews4 = pd.read_csv('../data/reviews_750-1250.csv', dtype={'author_id':'str'})
reviews5 = pd.read_csv('../data/reviews_1250-end.csv', dtype={'author_id':'str'})

reviews_df = pd.concat([reviews1, reviews2, reviews3, reviews4, reviews5], axis = 0)
reviews_df.head()

,Unnamed: 0,author_id,rating,is_recommended,helpfulness,total_feedback_count,total_neg_feedback_count,total_pos_feedback_count,submission_time,review_text,review_title,skin_tone,eye_color,skin_type,hair_color,product_id,product_name,brand_name,price_usd
0,0,1741593524,5,1.0,1.0,2,0,2,2023-02-01,I use this with the Nudestix â€œCitrus Clean Bal...,Taught me how to double cleanse!,NaN,brown,dry,black,P504322,Gentle Hydra-Gel Face Cleanser,NUDESTIX,19.0
1,1,31423088263,1,0.0,NaN,0,0,0,2023-03-21,I bought this lip mask after reading the revie...,Disappointed,NaN,NaN,NaN,NaN,P420652,Lip Sleeping Mask Intense Hydration with Vitam...,LANEIGE,24.0
2,2,5061282401,5,1.0,NaN,0,0,0,2023-03-21,My review title says it all! I get so excited ...,New Favorite Routine,light,brown,dry,blonde,P420652,Lip Sleeping Mask Intense Hydration with Vitam...,LANEIGE,24.0
3,3,6083038851,5,1.0,NaN,0,0,0,2023-03-20,Iâ€™ve always loved this formula for a long time...,Can't go wrong with any of them,NaN,brown,combination,black,P420652,Lip Sleeping Mask Intense Hydration with Vitam...,LANEIGE,24.0
4,4,47056667835,5,1.0,NaN,0,0,0,2023-03-20,"If you have dry cracked lips, this is a must h...",A must have !!!,light,hazel,combination,NaN,P420652,Lip Sleeping Mask Intense Hydration with Vitam...,LANEIGE,24.0

In [4]:
print(product_info.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8494 entries, 0 to 8493
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          8494 non-null   object
 1   product_name        8494 non-null   object
 2   brand_id            8494 non-null   int64
 3   brand_name          8494 non-null   object
 4   loves_count         8494 non-null   int64
 5   rating              8216 non-null   float64
 6   reviews             8216 non-null   float64
 7   size                6863 non-null   object
 8   variation_type      7050 non-null   object
 9   variation_value     6896 non-null   object
 10  variation_desc      1250 non-null   object
 11  ingredients         7549 non-null   object
 12  price_usd           8494 non-null   float64
 13  value_price_usd     451 non-null    float64
 14  sale_price_usd      270 non-null    float64
 15  limited_edition     8494 non-null   int64
 16  new                 8494 non-null   int64
 17  online_only         8494 non-null   int64
 18  out_of_stock        8494 non-null   int64
 19  sephora_exclusive   8494 non-null   int64
 20  highlights          6287 non-null   object
 21  primary_category    8494 non-null   object
 22  secondary_category  8486 non-null   object
 23  tertiary_category   7504 non-null   object
 24  child_count         8494 non-null   int64
 25  child_max_price     2754 non-null   float64
 26  child_min_price     2754 non-null   float64
dtypes: float64(7), int64(8), object(12)
memory usage: 1.7+ MB
None

In [5]:
print(reviews_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1094411 entries, 0 to 49976
Data columns (total 19 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   Unnamed: 0                1094411 non-null  int64
 1   author_id                 1094411 non-null  object
 2   rating                    1094411 non-null  int64
 3   is_recommended            926423 non-null   float64
 4   helpfulness               532819 non-null   float64
 5   total_feedback_count      1094411 non-null  int64
 6   total_neg_feedback_count  1094411 non-null  int64
 7   total_pos_feedback_count  1094411 non-null  int64
 8   submission_time           1094411 non-null  object
 9   review_text               1092967 non-null  object
 10  review_title              783757 non-null   object
 11  skin_tone                 923872 non-null   object
 12  eye_color                 884783 non-null   object
 13  skin_type                 982854 non-null   object
 14  hair_color                867643 non-null   object
 15  product_id                1094411 non-null  object
 16  product_name              1094411 non-null  object
 17  brand_name                1094411 non-null  object
 18  price_usd                 1094411 non-null  float64
dtypes: float64(3), int64(5), object(11)
memory usage: 167.0+ MB
None

In [6]:
print(f'display product_info')
display(product_info.describe())
print(f'\ndisplay reviews_df')
display(reviews_df.describe())

display product_info

,brand_id,loves_count,rating,reviews,price_usd,value_price_usd,sale_price_usd,limited_edition,new,online_only,out_of_stock,sephora_exclusive,child_count,child_max_price,child_min_price
count,8494.000000,8.494000e+03,8216.000000,8216.000000,8494.000000,451.000000,270.000000,8494.000000,8494.000000,8494.000000,8494.000000,8494.000000,8494.000000,2754.000000,2754.000000
mean,5422.440546,2.917957e+04,4.194513,448.545521,51.655595,91.168537,20.207889,0.070285,0.071698,0.219096,0.073699,0.279374,1.631622,53.792023,39.665802
std,1709.595957,6.609212e+04,0.516694,1101.982529,53.669234,79.195631,24.327352,0.255642,0.258002,0.413658,0.261296,0.448718,5.379470,58.765894,38.685720
min,1063.000000,0.000000e+00,1.000000,1.000000,3.000000,0.000000,1.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000
25%,5333.000000,3.758000e+03,3.981725,26.000000,25.000000,45.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22.000000,19.000000
50%,6157.500000,9.880000e+03,4.289350,122.000000,35.000000,67.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,32.000000,28.000000
75%,6328.000000,2.684125e+04,4.530525,418.000000,58.000000,108.500000,25.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,59.000000,42.000000
max,8020.000000,1.401068e+06,5.000000,21281.000000,1900.000000,617.000000,320.000000,1.000000,1.000000,1.000000,1.000000,1.000000,105.000000,570.000000,400.000000

display reviews_df

,Unnamed: 0,rating,is_recommended,helpfulness,total_feedback_count,total_neg_feedback_count,total_pos_feedback_count,price_usd
count,1.094411e+06,1.094411e+06,926423.000000,532819.000000,1.094411e+06,1.094411e+06,1.094411e+06,1.094411e+06
mean,1.989864e+05,4.299158e+00,0.839962,0.767782,4.177126e+00,8.948695e-01,3.282257e+00,4.900838e+01
std,1.749886e+05,1.149444e+00,0.366642,0.317164,2.271524e+01,5.288943e+00,1.967482e+01,4.004338e+01
min,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00
25%,5.590600e+04,4.000000e+00,1.000000,0.652174,0.000000e+00,0.000000e+00,0.000000e+00,2.500000e+01
50%,1.308240e+05,5.000000e+00,1.000000,0.928571,0.000000e+00,0.000000e+00,0.000000e+00,3.900000e+01
75%,3.285265e+05,5.000000e+00,1.000000,1.000000,3.000000e+00,1.000000e+00,3.000000e+00,6.200000e+01
max,6.021290e+05,5.000000e+00,1.000000,1.000000,5.464000e+03,1.159000e+03,5.050000e+03,1.900000e+03

In [7]:
# Shape of the datasets
product_info.shape, reviews_df.shape

((8494, 27), (1094411, 19))

## Data Cleaning

### product_info

In [8]:
product_info.isnull().sum().to_frame(name='missing_count').assign(missing_percent=lambda x: 100 * x['missing_count'] / len(product_info)).sort_values(by='missing_count', ascending=False)

                    missing_count  missing_percent
sale_price_usd               8224        96.821286
value_price_usd              8043        94.690370
variation_desc               7244        85.283730
child_max_price              5740        67.577113
child_min_price              5740        67.577113
highlights                   2207        25.983047
size                         1631        19.201789
variation_value              1598        18.813280
variation_type               1444        17.000235
tertiary_category             990        11.655286
ingredients                   945        11.125500
rating                        278         3.272899
reviews                       278         3.272899
secondary_category              8         0.094184
loves_count                     0         0.000000
product_id                      0         0.000000
brand_name                      0         0.000000
product_name                    0         0.000000
brand_id                        0         0.000000
out_of_stock                    0         0.000000
online_only                     0         0.000000
new                             0         0.000000
limited_edition                 0         0.000000
price_usd                       0         0.000000
sephora_exclusive               0         0.000000
primary_category                0         0.000000
child_count                     0         0.000000

In [9]:
cols_to_drop = ['sale_price_usd', 'value_price_usd', 'variation_desc', 'child_max_price', 'child_min_price', 'size', 'variation_value', 'variation_type', 'child_count']
product_info_cleaned = clean_data(product_info, columns_to_drop=cols_to_drop, do_imputation=True)  # 0.17 chosen based on the column type and the percentage of missing values
product_info_cleaned.head(2)

,product_id,product_name,brand_id,brand_name,loves_count,rating,reviews,ingredients,price_usd,limited_edition,new,online_only,out_of_stock,sephora_exclusive,highlights,primary_category,secondary_category,tertiary_category
0,P473671,Fragrance Discovery Set,6342,19-69,6320,3.6364,11.0,"['Capri Eau de Parfum:', 'Alcohol Denat. (SD A...",35.0,0,0,1,0,0,"['Unisex/ Genderless Scent', 'Warm &Spicy Scen...",Fragrance,Value & Gift Sets,Perfume Gift Sets
1,P473668,La Habana Eau de Parfum,6342,19-69,3827,4.1538,13.0,"['Alcohol Denat. (SD Alcohol 39C), Parfum (Fra...",195.0,0,0,1,0,0,"['Unisex/ Genderless Scent', 'Layerable Scent'...",Fragrance,Women,Perfume

In [10]:
product_info_cleaned.shape

(5621, 18)

In [11]:
## Change the data type of reviews column to int.
product_info_cleaned['reviews'] = product_info_cleaned['reviews'].astype(int)
product_info_cleaned['loves_count'] = product_info_cleaned['loves_count'].astype(int)

## Change the data type of reviews column to int.
product_info_cleaned['reviews'] = product_info_cleaned['reviews'].astype(int)

### reviews

In [12]:
reviews_df.isnull().sum().to_frame(name='missing_count').assign(missing_percent=lambda x: 100 * x['missing_count'] / len(reviews_df)).sort_values(by='missing_count', ascending=False)

                          missing_count  missing_percent
helpfulness                      561592        51.314543
review_title                     310654        28.385497
hair_color                       226768        20.720552
eye_color                        209628        19.154413
skin_tone                        170539        15.582720
is_recommended                   167988        15.349626
skin_type                        111557        10.193337
review_text                        1444         0.131943
rating                                0         0.000000
Unnamed: 0                            0         0.000000
author_id                             0         0.000000
total_pos_feedback_count              0         0.000000
submission_time                       0         0.000000
total_feedback_count                  0         0.000000
total_neg_feedback_count              0         0.000000
product_id                            0         0.000000
product_name                          0         0.000000
brand_name                            0         0.000000
price_usd                             0         0.000000

In [15]:
cols_to_drop = ['helpfulness', 'review_title', 'Unnamed: 0']
reviews_df_cleaned = clean_data(reviews_df, columns_to_drop=cols_to_drop)  # 0.25 based on the number of null values present in the dataset
reviews_df_cleaned.head(2)

,author_id,rating,is_recommended,total_feedback_count,total_neg_feedback_count,total_pos_feedback_count,submission_time,review_text,skin_tone,eye_color,skin_type,hair_color,product_id,product_name,brand_name,price_usd
2,5061282401,5,1.0,0,0,0,2023-03-21,My review title says it all! I get so excited ...,light,brown,dry,blonde,P420652,Lip Sleeping Mask Intense Hydration with Vitam...,LANEIGE,24.0
5,42802569154,4,1.0,1,0,1,2023-03-19,The scent isnâ€™t my favourite but it works grea...,lightMedium,brown,normal,brown,P420652,Lip Sleeping Mask Intense Hydration with Vitam...,LANEIGE,24.0

In [16]:
## Change data time data types
reviews_df_cleaned['submission_time'] = pd.to_datetime(reviews_df_cleaned['submission_time'], errors='coerce')

## change column values to lower case
reviews_df_cleaned['skin_tone'] = reviews_df_cleaned['skin_tone'].str.lower().str.strip()
reviews_df_cleaned['brand_name'] = reviews_df_cleaned['brand_name'].str.lower().str.strip()
reviews_df_cleaned['product_name'] = reviews_df_cleaned['product_name'].str.lower().str.strip()

# Remove duplicates -- final check
reviews_df_cleaned.drop_duplicates(inplace=True)

In [17]:
reviews_df_cleaned.shape

(843386, 16)

In [ ]:
# Save the files as csv
product_info_cleaned.to_csv('../data/product_info_df.csv', index=False)
reviews_df_cleaned.to_csv('../data/reviews_df.csv', index=False)